@media screen and (max-width: 46.874em){

    .disappear
    {
        display: none;
    }

    .link
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: green;
    }

    .active
    {
        display: block;
    }

    .close {
        color: black;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 40px;
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;

      }

      .close:hover
      {
          cursor: pointer;
      }

    .popover { 
        
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: white;
        color: black;
      }

      .show-popover
      {
          display: block;
      }

      #portImage
      {
        width: 60%;
        height: auto;
        box-shadow: 20px 5px 20px 3px #5d806e;
      }

      .description
      {
          font-size: 13px;
          width: 450px;
          font-family: 'ltc-bodoni-175', serif;
          font-weight: 400;
          font-style: normal;
      }

      .madeWith
      {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        background-color: #92cfa7;;
        padding: 10px;
        border-radius: 10px;
        color: #377254;
      }

      #items
      {
          width: 100%;
          height: 100%;
          margin-left: 5px;
          margin-top: 100px;
      }


      .title
      {
          font-size: 1.1em;
          font-family: 'copperplate', serif;
          font-weight: 700;
          font-style: normal;
          color:black;
      }

      

#works
{
    float: left;
    height: 400px;

}

#illustrations
{
    float: left;
    margin-bottom: 50px;
}

#illTitle
{
    font-family: 'copperplate', serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    margin-left: 150px;
    
}

#portfolio
{
    float: left;
    height: 4300px
}

#gifProject
{
    box-shadow: 20px 5px 20px 3px #5d806e;
}

#gifProject:hover
{
    opacity: 0.5;
}

#sip
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#sip:hover
{
    opacity: 0.5;
}

#eyeball
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#eyeball:hover
{
    opacity: 0.5;
}


#videoWork
{
    margin: 0 auto;
    float: left;
    margin-bottom: 50px;
}

#vidTitle
{
    font-family: 'copperplate', serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    margin-left: 200px;
}

#match
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#match:hover
{
    opacity: 0.5;
}

#nfl
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#nfl:hover
{
    opacity: 0.5;
}

#reorganize
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#reorganize:hover
{
    opacity: 0.5;
}

#graphicWork
{
    float: left;
}

#graphTitle
{
    font-family: 'copperplate', serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    margin-left: 150px;
}

#ophone
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px; 
}

#ophone:hover
{
    opacity: 0.5;
}

#freestand:hover
{
    opacity: 0.5;
}

#bluetooth:hover
{
    opacity: 0.5;
}

#freestand
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px;  
}

#bluetooth
{
    box-shadow: 20px 10px 20px 3px #5d806e;
    margin-top: 10px;  
}

.workText
{
    position: absolute;
    font-family: 'copperplate', serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    background-color: black;
    padding: 10px;
}


}


@media screen and (min-width: 46.874em) and (max-width: 64em){

    .link
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: black;
    }

    .disappear
    {
        display: none;
    }

    .active
    {
        display: block;
    }

    .close {
        color: black;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 40px;
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;

      }

      .close:hover
      {
          cursor: pointer;
      }

    .popover { 
        
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: white;
        color: black;
      }

      .show-popover
      {
          display: block;
      }

      #portImage
      {
        width: 50%;
        height: auto;
        box-shadow: 20px 5px 20px 3px #5d806e;
        float: left;
      }

      .description
      {
          font-size: 1.2em;
          width: 400px;
          font-family: 'ltc-bodoni-175', serif;
          font-weight: 400;
          font-style: normal;
          margin-left: 550px;
          text-align: center;
      }

      .madeWith
      {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        margin-left: 550px;
        text-align: center;
        width: 400px;
        color: #377254;
        background-color: #92cfa7;;
        padding: 10px;
        border-radius: 10px;
        
      }

      #items
      {
          width: 100%;
          height: 100%;
          margin-left: 5px;
          margin-top: 100px;
      }


      .title
      {
          font-size: 1.5em;
          font-family: 'copperplate', serif;
          font-weight: 700;
          font-style: normal;
          color:black;
          margin-left: 390px;
          text-align: center;
      }

      

    #works
    {
        float: left;
        height: 400px;
        margin-top: 100px;
    }
    
    #illustrations
    {
        float: left;
        margin-bottom: 50px;
        width: 1000px;
     
    }
    
    #illTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        margin-left: 380px;
        font-size: 2em;
        
    }

    #lips
    {
        float: left;

    }

    #wine
    {
        float: left;
        margin-left: 10px;
    }

    #space
    {
        float: left; 
        position: absolute;
        margin-top: 260px;
    }
    
    #gifProject
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
    }
    
    #gifProject:hover
    {
        opacity: 0.5;
    }
    
    #sip
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        width: 490px;
    }
    
    #sip:hover
    {
        opacity: 0.5;
    }
    
    #eyeball
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #eyeball:hover
    {
        opacity: 0.5;
    }
    
    
    #videoWork
    {
        margin: 0 auto;
        float: left;
        margin-bottom: 50px;
        width: 1000px;
        margin-top: 400px;
    }
    
    #vidTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        font-size: 2em;
        margin-left: 460px;
    }

    #matchstick
    {
        float: left;

    }

    #sportsnet
    {
        float: left;
        position: absolute;
        margin-left: 520px;
    }

    #organ
    {
        float: left;
    }


    
    #match
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
        
    }
    
    #match:hover
    {
        opacity: 0.5;
    }
    
    #nfl
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #nfl:hover
    {
        opacity: 0.5;
    }
    
    #reorganize
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #reorganize:hover
    {
        opacity: 0.5;
    }
    
    #graphicWork
    {
        float: left;
        width: 1000px;
        margin-top: 100px;
    }
    
    #graphTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        margin-left: 380px;
        font-size: 2em;
    }

    #orbit
    {
        float: left;
    }

    #arbora
    {
        float: left;
        position: absolute;
        margin-left: 515px;
    }

    #tempus
    {
        float: left;
    }
    
    #ophone
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #ophone:hover
    {
        opacity: 0.5;
    }
    
    #freestand:hover
    {
        opacity: 0.5;
    }
    
    #bluetooth:hover
    {
        opacity: 0.5;
    }
    
    #freestand
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px;  
    }
    
    #bluetooth
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px;  
    }
    
    .workText
    {
        position: absolute;
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        background-color: black;
        padding: 10px;
    }
    


}

@media screen and (min-width: 64em){

    .link
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: black;
        position: absolute;
        float: left;
        margin-left: 750px;
        text-align: center;
  
    }

    .link:hover
    {
        color: #5d806e;
    }

    .disappear
    {
        display: none;
    }

    .active
    {
        display: block;
    }

    .close {
        color: black;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 40px;
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;

      }

      .close:hover
      {
          cursor: pointer;
          color:#5d806e;
      }

    .popover { 
        
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: white;
        color: black;
      }

      .show-popover
      {
          display: block;
      }

      #portImage
      {
        width: 50%;
        height: auto;
        box-shadow: 20px 5px 20px 3px #5d806e;
        float: left;
      }

      .description
      {
          font-size: 1.2em;
          width: 400px;
          font-family: 'ltc-bodoni-175', serif;
          font-weight: 400;
          font-style: normal;
          margin-left: 750px;
          text-align: center;
      }

      .madeWith
      {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        margin-left: 750px;
        text-align: center;
        width: 400px;
        font-size: 1.3em;
        color: #377254;
        background-color: #92cfa7;;
        padding: 10px;
        border-radius: 10px;
        margin-top: 50px;
        
      }

      #items
      {
          width: 100%;
          height: 100%;
          margin-left: 5px;
          float: left;
          margin-top: 50px;
      }


      .title
      {
          font-size: 2em;
          font-family: 'copperplate', serif;
          font-weight: 700;
          font-style: normal;
          color:black;
          text-align: center;
      }

    #works
    {
        float: left;
        height: 400px;
        margin-top: 400px;
    }
    
    #illustrations
    {
        float: left;
        margin-bottom: 50px;
        width: 1000px;
        margin-left: 130px;
     
    }
    
    #illTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        margin-left: 300px;
        font-size: 3em;
        
    }

    #lips
    {
        float: left;

    }

    #wine
    {
        float: left;
        margin-left: 10px;
    }

    #space
    {
        float: left; 
        position: absolute;
        margin-top: 260px;
    }
    
    #gifProject
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
    }
    
    #gifProject:hover
    {
        opacity: 0.5;
    }
    
    #sip
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        width: 490px;
    }
    
    #sip:hover
    {
        opacity: 0.5;
    }
    
    #eyeball
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #eyeball:hover
    {
        opacity: 0.5;
    }
    
    
    #videoWork
    {
        margin: 0 auto;
        float: left;
        margin-bottom: 50px;
        width: 1000px;
        margin-top: 400px;
        margin-left: 130px;
    }
    
    #vidTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        font-size: 3em;
        margin-left: 400px;
    }

    #matchstick
    {
        float: left;

    }

    #sportsnet
    {
        float: left;
        position: absolute;
        margin-left: 520px;
    }

    #organ
    {
        float: left;
    }


    
    #match
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
        
    }
    
    #match:hover
    {
        opacity: 0.5;
    }
    
    #nfl
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #nfl:hover
    {
        opacity: 0.5;
    }
    
    #reorganize
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #reorganize:hover
    {
        opacity: 0.5;
    }
    
    #graphicWork
    {
        float: left;
        width: 1000px;
        margin-top: 100px;
        margin-left: 130px;
    }
    
    #graphTitle
    {
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        margin-left: 290px;
        font-size: 3em;
    }

    #orbit
    {
        float: left;
    }

    #arbora
    {
        float: left;
        position: absolute;
        margin-left: 515px;
    }

    #tempus
    {
        float: left;
    }
    
    #ophone
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px; 
    }
    
    #ophone:hover
    {
        opacity: 0.5;
    }
    
    #freestand:hover
    {
        opacity: 0.5;
    }
    
    #bluetooth:hover
    {
        opacity: 0.5;
    }
    
    #freestand
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px;  
    }
    
    #bluetooth
    {
        box-shadow: 10px 10px 20px 0px #5d806e;
        margin-top: 10px;  
    }
    
    .workText
    {
        position: absolute;
        font-family: 'copperplate', serif;
        font-weight: 700;
        font-style: normal;
        color: #92cfa7;
        background-color: black;
        padding: 10px;
    }


}