<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/dyq8hmi.css">
    <link rel="stylesheet" href="https://use.typekit.net/lmm6bjr.css">


    <link rel="stylesheet" href="css/header.css">

    <title>Sarah Conway</title>
</head>
<body>
  <h1 class="hidden">Sarah Conway's Portfolio</h1>
  <section id="header">
  
    <img id="logo" src="images/portfolio_logo.svg" alt="sarah conway logo" width="300" height="300">
    <img src="images/menu.svg" alt="menu" width="50" height="44" id="hamMenu">

    <div id="desktopNav">
        <ul class="menuDesktop">
				<li><a href="#">Home</a></li>
  				<li><a href="#">About</a></li>
  				<li><a href="#">Work</a></li>
  				<li><a href="#">Contact</a></li>
			</ul>
    </div>

			<div class="dropdown">
			<ul class="menu">
				<li><a href="#">Home</a></li>
  				<li><a href="#">About</a></li>
  				<li><a href="#">Work</a></li>
  				<li><a href="#">Contact</a></li>
			</ul>
      </div>
      
      <div id="heroImageDiv">
        <img id="heroImage" src="images/header.png" alt="forest" width="8000" height="4500">
        <h2 class="myname" id="myfirstname">S a r a h</h2>
        <h2 class="myname" id="mylastname">C o n w a y</h2>
        <p id="titles">Graphic Designer/Illustrator/Motion Designer</p>
      </div>

  </section>
   
    <script src="js/main.js"></script>
</body>
</html>