<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/dyq8hmi.css">
    <link rel="stylesheet" href="https://use.typekit.net/lmm6bjr.css">


    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/bio.css">
    <link rel="stylesheet" href="css/video.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/contact.css">

    <title>Sarah Conway</title>
</head>
<body>
  <h1 class="hidden">Sarah Conway's Portfolio</h1>
  <section id="header">
  
    <img id="logo" src="images/portfolio_logo.svg" alt="sarah conway logo" width="300" height="300">
    <img src="images/menu.svg" alt="menu" width="50" height="44" id="hamMenu">

    <div id="desktopNav">
        <ul class="menuDesktop">
				<li><a href="/#header">Home</a></li>
  				<li><a href="/#bio">About</a></li>
  				<li><a href="/#portfolio">Work</a></li>
  				<li><a href="/#contactForm">Contact</a></li>
			</ul>
    </div>

			<div class="dropdown">
			<ul class="menu">
				<li><a href="/#header">Home</a></li>
  				<li><a href="/#bio">About</a></li>
  				<li><a href="/#portfolio">Work</a></li>
  				<li><a href="/#contactForm">Contact</a></li>
			</ul>
      </div>
      
      <div id="heroImageDiv">
        <img id="heroImage" src="images/header.png" alt="forest" width="8000" height="4500">
        <h2 class="myname" id="myfirstname">S a r a h</h2>
        <h2 class="myname" id="mylastname">C o n w a y</h2>
        <p id="titles">Graphic Designer/Illustrator/Motion Designer</p>
      </div>

  </section>

  <section id="bio">
    <div id="bioTitle">
    <h2 id="shecan">She can</h2><h2 id="do">do</h2><h2 id="things">things</h2>
    </div>

    <div id="bioText" onscroll="bioScroll()">
    <p id="womb">It all started when Sarah fought her 
        way out of her mother’s womb. 
        She arrived very late. Fashionably late.
        “This is the coolest baby I’ve ever seen!”
        cried the Doctor.</p>

      <p id="skip">Let’s skip ahead.</p>

      <p id="homecity">At 18, Sarah left her beloved hometown
          (or homecity?) of Toronto, Ontario 
          to pursue higher education. She didn’t
          know what she wanted to do with her life.
          All she knew was that she loved art and 
          spent an absurd amount of time on her 
          computer. 
          </p>

        <p id="program">Sarah found a program that fit her two loves
            (addictions). It would allow her to go to
            Western University AND Fanshawe College.
            She would deepen her critical thinking of 
            media theory at Western, and learn practical
            interactive media design skills at Fanshawe.</p>

          <p id="fouryears">4 years  later, she got really good at things.</p>

        </div>

        <div id="skills">

          <div id="brandDesign" class="skillcuts">
            <h3 id="bDesign" class="skillTitles">Brand Design</h3>
            <img id="brandIcon" class="skillIcon" src="images/brand_design_logo.svg" alt="brand design" width="50" height="50">
          </div>

          <div id="motionGraphics" class="skillcuts">
              <h3 id="mGraphics" class="skillTitles">Motion Graphics</h3>
              <img id="motionIcon" class="skillIcon" src="images/motion_design.svg" alt="motion graphics" width="80" height="80">
            </div>

            <div id="packageDesign" class="skillcuts">
              <h3 id="pDesign" class="skillTitles">Package Design</h3>
              <img id="packageIcon" class="skillIcon" src="images/package_design_logo.svg" alt="package design" width="80" height="80">
            </div>

            <div id="webDesign" class="skillcuts">
                <h3 id="wDesign" class="skillTitles">Web Design</h3>
                <img id="webIcon" class="skillIcon" src="images/web_design.svg" alt="web design" width="80" height="80">
              </div>

              <div id="3dModeling" class="skillcuts">
                  <h3 id="3dmodel" class="skillTitles">3D Modeling</h3>
                  <img id="modelIcon" class="skillIcon" src="images/3d-modeling-icon.svg" alt="3d design" width="80" height="80">
                </div>

                <div id="videoediting" class="skillcuts">
                    <h3 id="vEdit" class="skillTitles">Video Editing</h3>
                    <img id="videoIcon" class="skillIcon" src="images/video_editing_icon.svg" alt="video editing" width="80" height="80">
                  </div>

                  <div id="coding" class="skillcuts">
                      <h3 id="code" class="skillTitles">Coding</h3>
                      <img id="codingIcon" class="skillIcon" src="images/coding_icon.svg" alt="coding" width="80" height="80">
                    </div>

                    <div id="cooking" class="skillcuts">
                        <h3 id="stirfry" class="skillTitles">Cooking Stirfry</h3>
                        <img id="stirfryIcon" class="skillIcon" src="images/stirfry_icon.svg" alt="stirfry" width="80" height="80">
                      </div>

        </div>
      

  </section>

  <section id="portfolio">
    <h2 class="hidden">Portfolio</h2>

    <div id="vid">
      	<video id="demoReel" width="500" height="240" poster="images/vid_thumbnail.png" controls>
            <source src="/video/demo_reel.mp4" type="video/mp4">
              <source src="/video/demo_reel.ogg" type="video/ogg">
                <source src="/video/demo_reel.webM" type="video/webM">
        </video>
    </div>


    <div id="works">
      

  <div id="illustrations">
          <h2 id="illTitle">Illustrations</h2>
         
          <div id="lips">
            <h3 class="workText">Mwah</h3>
              <img id="gifProject" class="showit" src="images/gif_project.gif" width="500" height="260" data-target="1">
          </div>

          <div id="wine">
              <h3 class="workText">Sippity Drinkity</h3>
              <img id="sip" class="showit" src="images/sippity_drinkity.jpg" width="500" height="638" data-target="2" >
          </div>

           <div id="space">
              <h3 class="workText">Eyefall</h3>
              <img id="eyeball" class="showit" src="images/eyeball.jpg" width="500" height="649" data-target="3">
          </div>
      </div>

      <div id="videoWork">

        <h2 id="vidTitle">Videos</h2>

        <div id="matchstick">
            <h3 class="workText">Matchstick</h3>
            <img id="match" class="showit" src="images/matchstick_project.png"  width="505" height="280" data-target="4">
        </div>

        <div id="sportsnet">
            <h3 class="workText">Sportsnet Intro</h3>
            <img id="nfl" class="showit" src="images/sportsnet_project.png"  width="505" height="280" data-target="5">
        </div>

        <div id="organ">
            <h3 class="workText">Reorganize</h3>
            <img id="reorganize" class="showit" src="images/organ_project.png"  width="505" height="280" data-target="6">
        </div>
      </div>

      <div id="graphicWork">

        <h2 id="graphTitle">Graphic Design</h2>

        <div id="orbit">
            <h3 class="workText">Orbit</h3>
            <img id="ophone" class="showit" src="images/orbit.png"  width="505" height="380" data-target="7">
        </div>

        <div id="arbora">
            <h3 class="workText">Arbora</h3>
            <img id="freestand" class="showit" src="images/arbora.jpg"  width="505" height="300" data-target="8">
        </div>

        <div id="tempus">
            <h3 class="workText">Tempus</h3>
            <img id="bluetooth" class="showit" src="images/tempus.png"  width="505" height="500" data-target="9">
        </div>
      </div>
    </div>

    <article class="popover" id="layoutPort">
      <span class="close cursor">&times;</span>
      <div id="items">
      <img src="" class="workImage" id="portImage"></p>
      <p class="title"></p>
      <p class="description"></p>
      <p class="madeWith"></p>
      <a href="https://www.youtube.com/channel/UCdqrhIYw9gPv6ygbi51lSlw?view_as=subscriber" class="link"></a>
    </div>
    </article>

  </section>


    

    <section id="contactForm">

    <form action="/php/data/contact.php" method="post">

      <h3 id=formHeader>Want to compare stirfry recipies? 
          Or comission me?
          Just say hi?
          </h3>
      
      <label for="f-name-field" id="firstn">First Name</label>
      <input id="f-name-field" name="fname" type="text" placeholder="First Name">
      
      <label for="l-name-field" id="lastn">Last Name</label>
      <input id="l-name-field" name="lname" type="text" placeholder="Last Name">
      
      <label for="email-field" id="maile">Email</label>
      <input id="email-field" name="email" type="email" placeholder="Email">
      
      <label for="message-field" id="mess">Message</label>
      <textarea id="message-field" name="message" rows="10" placeholder="Speak Your Truth!"></textarea>
      
      <button type="submit">Submit</button>
      
          </form>

          <div id="yay">
            <h2 id="thx">Hey, thanks for messaging me! Give me 24 hours to respond and we'll chit chat!</h2>
            <p class="sure">Sure thing, Sarah.</p>
          </div>
        
    </section>

    <script src="js/main.js"></script>
</body>
</html>