<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel="stylesheet" href="https://use.typekit.net/dyq8hmi.css">
    <link rel="stylesheet" href="https://use.typekit.net/lmm6bjr.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/bio.css">
    <link rel="stylesheet" href="css/video.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/contact.css">
     <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
