@media screen and (max-width: 46.874em) {
  #contactForm {
    float: left;
    margin-top: 100px;
    background-color: #377254;
    height: 600px;
  }

  #formHeader {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 400px;
    margin-top: 30px;
    float: left;
    font-size: 1.7em;
    margin-left: 20px;
    color: #92cfa7;
  }

  label {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    font-size: 1.3em;
    display: none;
  }

  input {
    border: none;
    border-bottom: 1px solid #92cfa7;
    background: transparent;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    margin-left: 50px;
    width: 200px;
    margin-top: 30px;
  }

  ::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
  }

  :-ms-input-placeholder {
    color: white;
  }

  form {
    float: left;
  }

  textarea {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    border: 1px solid #92cfa7;
    background-color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 300px;
  }

  button {
    padding: 10px;
    background-color: #377254;
    border: 1px solid #92cfa7;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 100px;
    width: 150px;
    color: #92cfa7;
    margin-top: 30px;
  }

  button:hover {
    background-color: #92cfa7;
    border: 1px solid #377254;
    color: #377254;
  }

  button {
    float: left;
  }

  #thx {
    color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    width: 450px;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
  }

  .sure {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-decoration-line: underline;
    color: white;
    margin-left: 160px;
  }

  .sure:hover {
    color: #377254;
    cursor: pointer;
  }

  #yay {
    background-color: #92cfa7;
    height: 200px;
    width: 500px;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    margin-top: 200px;
    box-shadow: 0px 5px 20px 3px #173525;
    display: none;
  }
}
@media screen and (min-width: 46.874em) and (max-width: 64em) {
  #contactForm {
    float: left;
    background-color: #377254;
    height: 600px;
    margin-top: 2650px;
  }

  #formHeader {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 400px;
    margin-top: 30px;
    float: left;
    font-size: 1.7em;
    margin-left: 20px;
    color: #92cfa7;
  }

  label {
    display: none;
  }

  input {
    border: none;
    border-bottom: 1px solid #92cfa7;
    background: transparent;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    margin-left: 400px;
    width: 200px;
    margin-top: 30px;
  }

  ::-webkit-input-placeholder {
    color: #92cfa7;
    font-size: 15px;
  }

  :-ms-input-placeholder {
    color: #92cfa7;
  }

  form {
    float: left;
  }

  textarea {
    float: left;
    margin-left: 400px;
    margin-top: 30px;
    border: 1px solid #92cfa7;
    background-color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 300px;
  }

  button {
    padding: 10px;
    background-color: #377254;
    border: 1px solid #92cfa7;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 400px;
    width: 150px;
    color: #92cfa7;
    margin-top: 30px;
    float: left;
  }

  button:hover {
    background-color: #92cfa7;
    border: 1px solid #377254;
    color: #377254;
  }

  #thx {
    color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    width: 450px;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
  }

  .sure {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-decoration-line: underline;
    color: white;
    margin-left: 160px;
  }

  .sure:hover {
    color: #377254;
    cursor: pointer;
  }

  #yay {
    background-color: #92cfa7;
    height: 200px;
    width: 500px;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    margin-left: 250px;
    margin-top: 200px;
    box-shadow: 0px 5px 20px 3px #173525;
    display: none;
  }
}
@media screen and (min-width: 64em) {
  #contactForm {
    float: left;
    background-color: #377254;
    height: 600px;
    margin-top: 2750px;
  }

  #formHeader {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 400px;
    margin-top: 30px;
    float: left;
    font-size: 1.7em;
    margin-left: 20px;
    color: #92cfa7;
  }

  label {
    display: none;
  }

  input {
    border: none;
    border-bottom: 1px solid #92cfa7;
    background: transparent;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    float: left;
    margin-left: 700px;
    width: 400px;
    margin-top: 30px;
  }

  ::-webkit-input-placeholder {
    color: #92cfa7;
    font-size: 15px;
  }

  :-ms-input-placeholder {
    color: #92cfa7;
  }

  form {
    float: left;
  }

  textarea {
    float: left;
    margin-left: 700px;
    margin-top: 30px;
    border: 1px solid #92cfa7;
    background-color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    width: 400px;
  }

  button {
    padding: 10px;
    background-color: #377254;
    border: 1px solid #92cfa7;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 700px;
    width: 150px;
    color: #92cfa7;
    margin-top: 30px;
    float: left;
  }

  button:hover {
    background-color: #92cfa7;
    border: 1px solid #377254;
    color: #377254;
  }

  #thx {
    color: #377254;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    width: 450px;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
  }

  .sure {
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-decoration-line: underline;
    color: white;
    margin-left: 160px;
  }

  .sure:hover {
    color: #377254;
    cursor: pointer;
  }

  #yay {
    background-color: #92cfa7;
    height: 200px;
    width: 500px;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    margin-left: 360px;
    margin-top: 200px;
    box-shadow: 0px 5px 20px 3px #173525;
    display: none;
  }
}

/*# sourceMappingURL=contact.css.map */
