@media screen and (max-width: 46.874em) {
  #header {
    float: left;
    height: 600px;
  }

  body {
    width: 100%;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  #desktopNav {
    display: none;
  }

  #logo {
    margin: 0;
    margin-left: 100px;
    float: left;
  }

  #hamMenu {
    width: 100px;
    height: 100px;
    margin: 0;
    position: absolute;
  }

  .menu {
    position: absolute;
    background-color: #92cfa7;
    border-radius: 5px;
    z-index: 1;
    width: 100px;
    margin-left: 22em;
    margin-top: 4.1em;
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    display: none;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    padding-top: 10px;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    margin-left: 20px;
  }

  .menu a:hover {
    color: #377254;
  }

  .show {
    display: block;
  }

  #heroImageDiv {
    position: absolute;
    margin: 0;
    margin-top: 300px;
  }

  #heroImage {
    position: absolute;
    float: left;
    margin: 0;
    width: 505px;
    height: 250px;
  }

  .myname {
    position: absolute;
    width: 200px;
    text-align: center;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    font-size: 2em;
  }

  #myfirstname {
    margin-left: 150px;
    margin-top: 30px;
  }

  #mylastname {
    margin-top: 60px;
    margin-left: 150px;
  }

  #titles {
    position: absolute;
    width: 500px;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    color: #92cfa7;
    margin-top: 200px;
    font-size: 1.5em;
    margin-left: 10px;
  }
}
@media screen and (min-width: 46.874em) and (max-width: 64em) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  #logo {
    margin: 0;
    margin-left: 22em;
    float: left;
  }

  #hamMenu {
    display: none;
  }

  .menu {
    position: absolute;
    background-color: #92cfa7;
    z-index: 1;
    width: 100px;
    margin-left: 22em;
    margin-top: 4.1em;
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    display: none;
  }

  .show {
    display: block;
  }

  #heroImageDiv {
    position: absolute;
    margin: 0;
    margin-top: 330px;
  }

  #heroImage {
    position: absolute;
    float: left;
    margin: 0;
    width: 1024px;
    height: 500px;
  }

  .myname {
    position: absolute;
    width: 400px;
    text-align: center;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    font-size: 4em;
  }

  #myfirstname {
    margin-left: 300px;
    margin-top: 70px;
  }

  #mylastname {
    margin-top: 130px;
    margin-left: 300px;
  }

  #titles {
    position: absolute;
    width: 700px;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    color: #92cfa7;
    margin-top: 400px;
    font-size: 2em;
    margin-left: 180px;
  }

  #desktopNav {
    float: left;
    position: absolute;
    margin-top: 240px;
    margin-left: 250px;
  }

  .menuDesktop li a {
    text-decoration: none;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 50px;
    font-size: 1.5em;
    color: #377254;
  }

  .menuDesktop li a:hover {
    color: #92cfa7;
  }

  .menuDesktop {
    list-style-type: none;
  }

  .menuDesktop li {
    display: inline;
  }
}
@media screen and (min-width: 64em) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  #logo {
    margin: 0;
    margin-left: 30em;
    float: left;
  }

  #hamMenu {
    display: none;
  }

  .menu {
    position: absolute;
    background-color: #92cfa7;
    z-index: 1;
    width: 100px;
    margin-left: 22em;
    margin-top: 4.1em;
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    display: none;
  }

  .show {
    display: block;
  }

  #heroImageDiv {
    position: absolute;
    margin: 0;
    margin-top: 330px;
  }

  #heroImage {
    position: absolute;
    float: left;
    margin: 0;
    width: 1280px;
    height: 700px;
  }

  .myname {
    position: absolute;
    width: 600px;
    text-align: center;
    font-family: "copperplate", serif;
    font-weight: 700;
    font-style: normal;
    color: #92cfa7;
    font-size: 6em;
  }

  #myfirstname {
    margin-left: 330px;
    margin-top: 120px;
  }

  #mylastname {
    margin-top: 200px;
    margin-left: 330px;
  }

  #titles {
    position: absolute;
    width: 1280px;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    color: #92cfa7;
    margin-top: 520px;
    font-size: 4em;
  }

  #desktopNav {
    float: left;
    position: absolute;
    margin-top: 240px;
    margin-left: 380px;
  }

  .menuDesktop li a {
    text-decoration: none;
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 50px;
    font-size: 1.5em;
    color: #377254;
  }

  .menuDesktop li a:hover {
    color: #92cfa7;
  }

  .menuDesktop {
    list-style-type: none;
  }

  .menuDesktop li {
    display: inline;
  }
}

/*# sourceMappingURL=header.css.map */
